.header {
   background-color: #4465FF;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 10px 50px;
 }
 
 body {
  margin: 0;
  font-family: "Roboto", sans-serif;
 }
 
   
 
 .logo {
   width: 100px;
 }
 
 .headerlinks a {
   color: white;
   padding: 5px 15px;
   text-decoration: none;
   border-radius: 15px;
 }
 
 .headerlinks a:hover {
   background-color: #8096FF;
   border-radius: 15;
 }
 
 .headerlinks button {
   background-color: red;
   border: 0;
   color: #eff;
   padding: 5px 15px;
   border-radius: 15px;
 }
 
 .headerlinks button:hover {
   background-color: #FF80A4;
 }
 .landing-page{
  background-color: #4465FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: white;
  }